.countDown {
    font-family: sans-serif;
    text-align: center;
    font-size: 10px !important;
    padding-left: 20px;
  }

  .timer{
    padding: 10px;
    font-size: 20px;
  }
  
  .custom-time{
    display: flex;
    padding: 10px;
  }

  .label_timer{
    font-size: 20px;
    padding: 10px 0 10px 0;
  }

  .control_timer{
    button{
      font-size: 15px;
      width: 50px;
      height: 30px;
      border: 1px solid white;
      cursor: pointer;
      border-radius: 0.25rem; 
      margin-left: 5px;
    }
  }
  .time_spent{
    font-size: 16px;
    text-decoration: underline;
    color: white;
  }