@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");


* {
  margin: 0;
  padding: 0;
}

:root{
  --blueColor: #132743;
  --greyColor: #686d76;
  --whiteColor: #eeecda;
  --goldColor: #edc988;
  --greenColor: #9BD7D1;
  --yellowColor: #edf285;
  --pinkColor: #F56A79;
  --redColor: #ff8282;
  --highlightColor: #2ec1ac;

}

body {
  font-family: "Kanit", sans-serif;
  background-color: #2D3250;
  color: var(--whiteColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  margin: 2rem 0;
  font-weight: 400;
}

main {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--whiteColor);
  align-items: center;
  width: fit-content;
}

section {
  display: flex;
  width: 70rem;
  margin-bottom: 2rem;
}

.button {
  border: 1px solid var(--goldColor);
  text-transform: uppercase;
  width: fit-content;
  padding: 0.3rem 1.5rem;
  background-color: var(--greenColor);
  border-color: var(--greenColor);
  color: var(--blueColor);
  font-weight: 500;
  font-family: "Kanit", sans-serif;
  border-radius: 0.25rem;
  font-size: 1rem;
  margin-right: 0.25rem;
}
button:hover {
  background-color: var(--highlightColor);
  border-color: var(--highlightColor);
  cursor: pointer;
}

button:focus {
  outline: none;
  border-color: var(--highlightColor);
  background-color: var(--highlightColor);
  color: var(--whiteColor);
}

button.moveTask {
  font-size: 16px;
  padding: 0.5rem 0.5rem;
  margin-bottom: 0;
  line-height: 1rem;
}

button.delete {
  background-color: var(--pinkColor);
  border-color: var(--pinkColor);
}

button.delete:hover {
  background-color: var(--redColor);
  border-color: var(--redColor);
}

button.addTask {
  font-size: 3rem;
  padding: 0 0 0.4rem 0;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 1rem;
  margin-bottom: 10px;
}

.container_toggler{
  width: 100%;
  display: flex;
  justify-content: end;  
}

.container_toggler.icon_toggle{
  font-size: 20px;
}

.container-tabs{
  width: 90%;
}

@media only screen and (max-width: 75rem) {
  section {
    width: 100%;
    flex-direction: column;
  }
}